#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

/* Typography */

p,
.location-text,
.location-link {
    font-size: .625rem;
    line-height: .9375rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.location-text {
    text-transform: uppercase;
    letter-spacing: .17em;
}

/* Links */

.location-link {
    color: #918E9B;
}

.location-link:hover,
.location-link:focus {
    color: #F55A5A;
}

/* Header */

.header {
    background: #F55A5A;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 1rem;
    margin-left: .5rem;
    color: #fff;
    font-weight: 500;
}

/* Card */

.card-list {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em 2em;
}

.card {
    display: flex;
    gap: 1.25em;
    align-items: center;
    padding: 1em 0;
    border-bottom: solid .5px rgba(0,0,0,.1);
}

.card:last-child {
    border-bottom: none;
}

.card__img {
    flex-basis: 125px;
}

.card__body-location {
    display: flex;
    gap: .5em;
    align-items: center;
}

.card__body-title {
    margin: .25em 0 .65em 0;
}

.card__body-dates {
    font-weight: 700;
}

.card__body-desc {
    line-height: .9375rem;
    margin-bottom: 0;
}